<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-button>Sign up</ion-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
        <img src="assets/kunlunlogo.png" alt="">
    <h1>Kunlun</h1>
  </div>

 
  <form id="form">
    <ion-item >
     <ion-input placeholder="Email" type="test" name="email" required></ion-input>
    </ion-item>
   <ion-item >
     <ion-input placeholder="Password" type="password" name="password" required></ion-input>
   </ion-item>
   <ion-button class="login" expand="block" shape="round">Login</ion-button>

    <div class="password_forgot">
     <ion-button fill="clear">ForgotPassword?</ion-button>
    </div>
    </form>
  
  </ion-content>
